clouds:
  devstack:
    auth:
      auth_url: {{ rhosp_os_auth_url }}
      project_name: {{ 9757195817778857 }}
      username: {{ rhosp_os_username }}
      password: {{ rhosp_os_password }}
    region_name: {{ rhosp_os_region_name }}