---
- name: "Install Dolibarr on Podman container"
  hosts: "{{ _host | default('localhost') }}"
  gather_facts: "{{ gathering_host_info | default('true') | bool == true }}"

  pre_tasks:
    - name: "Validate variables"
      assert:
        that:
          - "pod_name is defined"
          # - "pgsql_version is defined"
    
  tasks:
    - name: "Set names"
      ansible.builtin.set_fact:
        doli_db_name: "{{ db_name | default('dolibarr') }}"
      when: doli_db_name is undefined
        
    - name: Create Dolibarr volumes
      containers.podman.podman_volume:
        state: present
        name: "{{ dolibarr_volume_item }}"
        label:
          app.kubernetes.io/name: "{{ dolibarr_volume_item }}"
          app.kubernetes.io/instance: "{{ pod_name }}"
          app.kubernetes.io/version: "{{ dolibarr_version | default('22') }}"
          app.kubernetes.io/component: "application"
          app.kubernetes.io/part-of: "{{ pod_name }}"
      loop:
        - "{{ pod_name }}_dolibarr_{{ app_name | default('dolibarr') }}_documents"
        - "{{ pod_name }}_dolibarr_{{ app_name | default('dolibarr') }}_custom"
      loop_control:
        loop_var: dolibarr_volume_item

    - name: "Create container"
      containers.podman.podman_container:
        name: "{{ pod_name }}_dolibarr_{{ app_name | default('dolibarr') }}"
        image: "docker://dolibarr/dolibarr:{{ dolibarr_version | default('22') }}"
        state: started
        pod: "{{ pod_name }}"
        volumes: 
          - "{{ pod_name }}_dolibarr_{{ app_name | default('dolibarr') }}_documents:/var/www/documents"
          - "{{ pod_name }}_dolibarr_{{ app_name | default('dolibarr') }}_custom:/var/www/html/custom"
        env:
          DOLI_INIT_DEMO: "{{ doli_init_demo | default(0) }}"
          DOLI_DB_HOST: "{{doli_db_host | default(pod_name + '_pgsql_' + doli_db_name) }}"
          DOLI_DB_HOST_PORT: "{{doli_db_port | default('5432') }}"
          DOLI_DB_TYPE: "{{doli_db_type | default('pgsql') }}"
          DOLI_DB_NAME: "{{ doli_db_name }}"
          DOLI_DB_USER: "{{doli_db_user | default('dolibarr') }}"
          DOLI_DB_PASSWORD: "{{doli_db_password | default('dolibarr') }}"
          DOLI_URL_ROOT: "{{doli_url_root | default('http://0.0.0.0') }}"
          DOLI_ADMIN_LOGIN: "{{doli_admin_login | default('admin') }}"
          DOLI_ADMIN_PASSWORD: "{{doli_admin_password | default('admin') }}"
          DOLI_CRON: "{{doli_cron | default(0) }}"
          DOLI_CRON_KEY: "{{doli_cron_key | default('mycronsecurekey') }}"
          DOLI_COMPANY_NAME: "{{doli_company_name | default('MyBigCompany') }}"
          DOLI_COMPANY_COUNTRYCODE: "{{doli_company_countrycode | default('ES') }}"
          WWW_USER_ID: "{{www_user_id | default('1000') }}"
          WWW_GROUP_ID: "{{www_group_id | default('1000') }}"
        label:
          app.kubernetes.io/name: "dolibarr"
          app.kubernetes.io/instance: "{{ pod_name }}"
          app.kubernetes.io/version: "{{ dolibarr_version | default('22.0') }}"
          app.kubernetes.io/component: "application"
          app.kubernetes.io/part-of: "{{ pod_name }}"
...
