image:
  tag: "{{ app_version | default('18.0') }}"
  pullPolicy: IfNotPresent
  
ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "180"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "180"
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "180"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "180"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "180"
    nginx.ingress.kubernetes.io/proxy-body-size: 50m
    nginx.ingress.kubernetes.io/client-body-buffer-size: 50m
  hosts:
    - host: "{{ app_name }}.{{ local_domain }}"
      paths:
        - path: /
          pathType: Prefix
          backend:
            serviceName: http
            servicePort: 8069

persistence:
  dbName: postgres
  dbUser: odoo
  dbPassword: {{ db_password }}
  dbHost: postgresql.{{ app_name }}.svc.cluster.local
{% if storage_class_rwo is defined or storage_class is defined %}
  storageClassName: "{{ storage_class_rwo | default(storage_class) }}"
{% endif %}

podSecurityContext: 
  fsGroup: 101