---
apiVersion: v1
kind: Secret
metadata:
  name: csi-cephfs-secret
  namespace: {{ ceph_ns }}
stringData:
  # Required for statically and dynamically provisioned volumes
  # The userID must not include the "client." prefix!
  userID: {{ cephfs_user_id }}
  userKey: {{ cephfs_user_key }}
  adminID: {{ cephfs_user_id }}
  adminKey: {{ cephfs_user_key }}