apiVersion: v1
kind: Pod
metadata:
  name: csi-cephfs-demo-pod
  namespace: {{ ceph_ns }}
spec:
  containers:
    - name: web-server
      image: docker.io/library/nginx:latest
      volumeMounts:
        - name: cephfspvc
          mountPath: /usr/share/nginx/html
      ports:
        - containerPort: 80  
  volumes:
    - name: cephfspvc
      persistentVolumeClaim:
        claimName: csi-cephfs-pvc
        readOnly: false
