apiVersion: v1
kind: Secret
metadata:
  name: superset-backend-secret
  namespace: "{{ app_namespace }}"
  labels:
    app.kubernetes.io/name: "{{ app_name }}"
    app.kubernetes.io/instance: "{{ app_name }}"
    app.kubernetes.io/component: frontend
    app.kubernetes.io/part-of: "{{ app_name }}"
type: Opaque
data:
  DB_HOST: "{{ db_host | default('postgresql') | b64encode }}"
  DB_PORT: "{{ db_port | default('5432') | b64encode }}"
  DB_USER: "{{ db_user | b64encode }}"
  DB_PASSWORD: "{{ db_password | b64encode }}"
  DB_NAME: "{{ db_name | b64encode }}"
  REDIS_HOST: redis | b64encode
  REDIS_PORT: 6379 | b64encode
  REDIS_CELERY_DB: 0 | b64encode
  REDIS_DB: 1 | b64encode
  REDIS_PROTO: redis | b64encode
  REDIS_USER: ""
  SUPERSET_SECRET_KEY: "{{ superset_secret_key_b64 }}"