apiVersion: v1
kind: Secret
metadata:
  name: superset-backend-secret
  namespace: app_namespace
  labels:
    app.kubernetes.io/name: "{{ app_name }}"
    app.kubernetes.io/instance: "{{ app_name }}"
    app.kubernetes.io/component: frontend
    app.kubernetes.io/part-of: "{{ app_name }}"
type: Opaque
data:
  DB_HOST: "{{ db_host | default('postgresql') }}"
  DB_PORT: "{{ db_port | default('5432') }}"
  DB_USER: "{{ db_user }}"
  DB_PASSWORD: "{{ db_password }}"
  DB_NAME: "{{ db_name }}"
  REDIS_HOST: redis
  REDIS_PORT: 6379