apiVersion: v1
kind: ServiceAccount
metadata:
  name: postgres
  namespace: {{ app_name }}
  labels:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: postgres-{{ app_name }}
{% if app_version is defined %}
    app.kubernetes.io/version: "{{ app_version }}"
{% endif %}
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: postgres
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: postgres
  namespace: {{ app_name }}
  labels:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: postgres-{{ app_name }}
{% if app_version is defined %}
    app.kubernetes.io/version: "{{ app_version }}"
{% endif %}
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: postgres
rules:
- apiGroups:
    - ""
  resources:
    - pods
    - endpoints
    - configmaps
    - events
  verbs:
    - "*"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: postgres
  namespace: {{ app_name }}
  labels: 
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: postgres-{{ app_name }}
{% if app_version is defined %}
    app.kubernetes.io/version: "{{ app_version }}"
{% endif %}
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: postgres
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: postgres
subjects:
- kind: ServiceAccount
  name: postgres
