kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ app_name }}-postgres-pvc
  namespace: {{ app_name }}
  labels:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: postgres-{{ app_name }}
{% if app_version is defined %}
    app.kubernetes.io/version: "{{ app_version }}"
{% endif %}
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: postgres
spec:
  storageClassName: iscsi-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi