---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: gitea-data-pv
  labels:
    app.kubernetes.io/name: gitea-data-pv
    app.kubernetes.io/instance: gitea
    app.kubernetes.io/version: "1.0.0"
    app.kubernetes.io/component: scm
    app.kubernetes.io/part-of: gitea
spec:
  capacity:
    storage: 20Gi
  accessModes:
    - ReadWriteOnce
  claimRef:
    namespace: gitea
    name: gitea-data-pvc
  storageClassName: iscsi-storage
  iscsi:
    targetPortal: nas05t.trikorasolutions.net:3260
    iqn: iqn.2012-05.net.trikorasolutions.iscsi:gitea-data
{% if iscsiInitiatorName is defined %}
    initiatorName: {{ iscsiInitiatorName }}
{% endif %}
    lun: 0
    fsType: 'ext4'
    readOnly: false
    chapAuthSession: false
    #  chapAuthDiscovery: true
    #  chapAuthSession: true
    #  secretRef:
    #    name: chap-secret