ingress:
  enabled: true
  className: "nginx"
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: {% if glpi_url is defined %}{{ glpi_url }}{% else %}UNDEFINED_HOST{% endif %}

      paths:
        - path: /
          pathType: Prefix
          backend:
            serviceName: http
            servicePort: 80
            #servicePort: 8080

persistence:
  storageClassName: local-storage
  mountPaths:
    config: /etc/glpi:Z
    files: /var/lib/glpi:Z
    plugins: /var/www/html/glpi/plugins:Z

database: 
  dbName: {{ db_name | default('glpi') }}
  dbUser: {{ db_user | default('glpi') }}
  dbPassword: {{ db_password }}
