---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: gitea-db-pv
  labels:
    app.kubernetes.io/name: gitea-db-pv
    app.kubernetes.io/instance: gitea
    app.kubernetes.io/version: "1.0.0"
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: gitea
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  # claimRef:
  #   namespace: gitea
  #   name: postgresql
  # persistentVolumeReclaimPolicy: Retain
  # mountOptions: []
  storageClassName: iscsi-manual-storage
  csi:
    driver: iscsi.csi.k8s.io
    volumeHandle: iscsi-data-id
    volumeAttributes:
      targetPortal: "{{ iscsi_portal }}"
      #portals: "[]"
      iqn: "{{ iscsi_target_iqn_prefix }}:gitea-db"
      lun: "0"
      iscsiInterface: "default"
      #discoveryCHAPAuth: "true"
      sessionCHAPAuth: "false"
