image:
  tag: "{{ app_version | default('18.0') }}"

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: "{{ app_name }}.{{ local_domain }}"
      paths:
        - path: /
          pathType: Prefix
          backend:
            serviceName: http
            servicePort: 8069

persistence:
  dbName: postgres
  dbUser: odoo
  dbPassword: {{ db_password }}
  dbHost: postgresql.{{ app_name }}.svc.cluster.local
