image:
  tag: "{{ app_version | default('18.0') }}"
  pullPolicy: IfNotPresent
  
ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: 180
    nginx.ingress.kubernetes.io/proxy-send-timeout: 180
    nginx.ingress.kubernetes.io/proxy-connect-timeout: 180
    nginx.ingress.kubernetes.io/proxy-read-timeout: 180
    nginx.ingress.kubernetes.io/proxy-send-timeout: 180
  hosts:
    - host: "{{ app_name }}.{{ local_domain }}"
      paths:
        - path: /
          pathType: Prefix
          backend:
            serviceName: http
            servicePort: 8069

persistence:
  dbName: postgres
  dbUser: odoo
  dbPassword: {{ db_password }}
  dbHost: postgresql.{{ app_name }}.svc.cluster.local
