kind: PersistentVolume
apiVersion: v1
metadata:
  name: "{{ APP_NAME }}-postgres-pv"
  labels:
    type: local
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: "postgres-{{ APP_NAME }}"
    app.kubernetes.io/version: "{{ app_version }}"
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: "{{ APP_NAME }}"
spec:
  accessModes:
    - ReadWriteOnce
  claimRef:
    namespace: "{{ APP_NAME }}"
    name: postgresql
  capacity:
    storage: 10Gi
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  #mountOptions:
  #  - hard
  #volumeMode: Filesystem
  hostPath:
    path: "{{ PV_ROOT_FOLDER }}/{{ APP_NAME }}/pgsql"
