---
- name: "Create Namespace"
  hosts: "{{ k8s_host | default('localhost')}}"
  gather_facts: "{{ gathering_host_info | default('true') | bool == true }}"

  tasks:
    - name: "Create the namespace"
      kubernetes.core.k8s:
        api_version: v1
        kind: Namespace
        name: "{{ app_namespace }}"
        state: present

    - name: "Add labels to the namespace"
      kubernetes.core.k8s:
        kind: Namespace
        name: "{{ app_namespace }}"
        state: patched
        definition:
          metadata:
            labels:
              "app.kubernetes.io/name": "{{ app_name }}"
              "app.kubernetes.io/version": "{{ app_version }}"

    - name: "Add Quota to the namespace"
      kubernetes.core.k8s:
        api_version: v1
        kind: ResourceQuota
        name: "default-quota"
        namespace: "{{ app_namespace }}"
        state: present
        definition:
          spec:
            hard:
              limits.cpu: "{{ namespace_quotas.limits.cpu }}"
              limits.memory: "{{ namespace_quotas.limits.memory }}"
              requests.cpu: "{{ namespace_quotas.requests.cpu }}"
              requests.memory: "{{ namespace_quotas.requests.memory }}"
      when: >
        namespace_quotas is defined and namespace_quotas.limits is defined and namespace_quotas.requests is defined 
        and namespace_quotas.limits.cpu is defined and namespace_quotas.limits.memory is defined
        and namespace_quotas.requests.cpu is defined and namespace_quotas.requests.memory is defined

...
