---
- name: "Install Pre install PostgreSQL"
  hosts: "{{ k8s_host | default('localhost')}}"
  gather_facts: "{{ gathering_host_info | default('true') | bool == true }}"

  tasks:
    - name: "Create Gitea namespace"
      kubernetes.core.k8s:
        name: "{{ app_namespace }}"
        api_version: v1
        kind: Namespace
        state: present

    # Patch existing namespace : add label
    - name: "Add labels to Gitea namespace"
      kubernetes.core.k8s:
        state: patched
        kind: Namespace
        name: "{{ app_namespace }}"
        definition:
          metadata:
            labels:
              app.kubernetes.io/name: "{{ app_name }}"
              app.kubernetes.io/version: "{{ app_version }}"

    - name: "Add default resources and limits"
      kubernetes.core.k8s:
        state: present
        kind: ResourceQuota
        name: "{{ app_namespace }}_deault_quota"
        definition:
          spec:
            hard:
              requests.cpu: "{{ requests.cpu | default('500m') }}"
              requests.memory: "{{ requests.cpu | default('500Mi') }}"
              limits.cpu: "{{ limits.cpu | default('1') }}"
              limits.memory: "{{ limits.cpu | default('1Gi') }}"

    # - name: "Add default resources and limits"
    #   kubernetes.core.k8s:
    #     state: present
    #     kind: LimitRange
    #     name: "{{ app_namespace }}_default_limit"
    #     definition:
    #       spec:
    #         hard:
    #           requests.cpu: "{{ requests.cpu | default('500m') }}"
    #           requests.memory: "{{ requests.cpu | default('500Mi') }}"
    #           limits.cpu: "{{ limits.cpu | default('1') }}"
    #           limits.memory: "{{ limits.cpu | default('1Gi') }}"

...
