image:
{% if app_image_tag is defined %}
  tag: "{{ app_image_tag }}"
{% else %}
  tag: "{{ app_version }}"
{% endif %}

ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: "{{ app_name }}.{{ local_domain }}"
      paths:
        - path: /
          pathType: Prefix
          backend:
            serviceName: http
            servicePort: 80

persistence:
  dbName: {{ db_name }}
  dbUserName: {{ db_user }}
  dbPassword: {{ db_password }}
  dbHost: postgresql.{{ app_name }}.svc.cluster.local

# https://docs.gitlab.com/charts/installation/command-line-options.html#outgoing-email-configuration
gitlab:
  global:
    smtp: 
    email: 
      from: 
    hosts: 
      domain: {{ app_name }}.{{ local_domain }}
      externalIP: {{ external_ip }}

persistence:
  storageClassName: local-storage
