kind: PersistentVolume
apiVersion: v1
metadata:
  name: {{ app_namespace }}-grafana
  labels:
    type: local
    app.kubernetes.io/name: glpi
    app.kubernetes.io/instance: glpi-glpi
    app.kubernetes.io/version: "{{ grafana_version }}"
    app.kubernetes.io/component: application
    app.kubernetes.io/part-of: glpi
spec:
  accessModes:
    - ReadWriteOnce
  claimRef:
    namespace: {{ app_namespace }}
    name: grafana
  capacity:
    storage: 5Gi
  hostPath:
    path: {{ k8s.pv_root_folder }}/{{ app_namespace }}/grafana
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
