kind: PersistentVolume
apiVersion: v1
metadata:
  name: {{ app_namespace }}-mariadb-data
  labels:
    type: local
    app.kubernetes.io/name: mariadb
    app.kubernetes.io/instance: mariadb-glpi
    app.kubernetes.io/version: "{{ mariadb_version }}"
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: glpi
spec:
  accessModes:
    - ReadWriteOnce
  claimRef:
    namespace: {{ app_namespace }}
    name: mariadb
  capacity:
    storage: 10Gi
  hostPath:
    path: {{ k8s.pv_root_folder }}/{{ app_namespace }}/mariadb
#  mountOptions:
#    - hard
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
