persistence:
  dbPassword: {{ db_password }}
  dbName: {{ db_name }}
  dbUser: {{ db_user }}
{% if storage_class is defined %}
  storageClassName: "{{ storage_class }}"
{% endif %}
  selector:
    key: "app.kubernetes.io/name"
    operator: "In"
    values: ["gitea-db-pv"]

image:
  tag: {{ db_image_tag | default('13') }}
