---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: cephfs-claim1
  namespace: {{ ceph_ns }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: cephfs
  resources:
    requests:
      storage: 1Gi
