persistence:
  dbPassword: {{ db_password }}
  dbName: {{ db_name }}
  dbUser: {{ db_user }}
{% if storage_class_rwx is defined or storage_class is defined %}
  storageClassName: "{{ storage_class_rwx | default(storage_class) }}"
{% endif %}
image:
  tag: {{ db_image_tag | default('16') }}
