image:
{% if pgsql_image_repo is defined %}
  repository: {{ pgsql_image_repo }}
  pullPolicy: IfNotPresent
  tag: {{ pgsql_image_tag | default('latest') }}
{% else %}  
  tag: {{ db_image_tag | default('16') }}
{% endif %}

persistence:
  dbPassword: {{ db_password }}
  dbName: {{ db_name }}
  dbUser: {{ db_user }}
{% if storage_class_rwx is defined or storage_class is defined %}
  storageClassName: "{{ storage_class_rwx | default(storage_class) }}"
{% endif %}
image:
