apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default
  namespace: {{ app_namespace }}
spec:
  addresses:
{% for item in hostvars[groups['k8s_cluster_k8s'][0]]['lb_address_pools'] %}
  - {{ item }}
{% endfor %}
  autoAssign: true
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default
  namespace: {{ app_namespace }}
# spec:
#   ipAddressPools:
#   - default