ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "180"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "180"
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "180"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "180"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "180"
    nginx.ingress.kubernetes.io/proxy-body-size: 50m
    nginx.ingress.kubernetes.io/client-body-buffer-size: 50m
  hosts:
    - host: "{{ app_name }}.{{ local_domain }}"
      paths:
        - path: /
          pathType: Prefix
          backend:
            serviceName: https
            servicePort: 8443

persistence:
{% if storage_class_rwo is defined or storage_class is defined %}
  storageClassName: "{{ storage_class_rwo | default(storage_class) }}"
{% endif %}

resources:
  limits:
    cpu: "1500m"
    memory: "3Gi"
  requests:
    cpu: "500m"
    memory: "1000Mi"
